@charset "utf-8";

body {
  margin-left: 16px;
}

/* 検索まわり */
.search{
  display: flex;
  font-size: 1.5rem;
}
.searchTag {
  border: 1px solid black;
  border-radius: 4px;
  display: inline;
  padding: 0 4px;
}
.sort {
  margin-left: 120px;
}
/* ソートアイコン */
#sort-colum-list {
  /* display: block; */
  height: 25px;
  /* font-size: 1.1rem; */
}
#panel {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: none;
}
.sort-indicator {
  cursor: pointer;
}
.sort-indicator::before,
.sort-indicator::after {
  content: "";
  height: 1em;
  width: 1em;
  position: absolute;
  border: 0.5em solid transparent;
}
.sort-indicator::before {
  border-bottom-color: #aaa;
  margin-top: -0.05em;
}
.sort-indicator::after {
  border-top-color: #aaa;
  margin-top: 1.05em;
}
.sort-indicator.asc::before {
  border-bottom-color: #444;
}
.sort-indicator.desc::after {
  border-top-color: #444;
}

/* 表 */
table {
  border-collapse: collapse;
  margin-top: 8px;
  table-layout: fixed;
  width: 80%;
}
thead {
  background-color: lightgray;
}
th,
td {
  border: 1px solid black;
  margin: 0;
  border-collapse: collapse;
}
td {
  overflow: auto;
  white-space: nowrap;
}
.tag-ul {
  display: flex;
  margin: 0;
  padding-left: 32px;
}
.display-tag {
  margin-right: 32px;
}
.delete-button {
  color: red;
}

#add-button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}
.display-name {
  margin: auto 8px;
}

/* 登録ウィンドウ */
.mask {
  background: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#origin-tbody,
.hidden {
  display: none;
}
.add-window {
  border: 1px solid black;
  border-radius: 20px;
  background-color: #ccc;
  width: 80%;
  max-width: 600px;
  /* height: 240px; */
  padding: 40px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 100px;
  transition: transform 0.4s;
}
.add-window.hidden {
  transform: translate(0, -500px);
}
#select-button {
  display: block;
  margin: auto auto 24px;
}
#added-tag-space {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 24px;
}
.add-tag {
  margin: 0 24px 8px 0;
}
#added-tag {
  border: 1px solid black;
  border-radius: 4px;
}

/* 登録ボタンのデザイン */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}
a.btn--radius {
  border-radius: 100vh;
}
#add-button {
  position: absolute;
  top: 36px;
  right: 36px;
}